{% extends 'base.html' %}
{% load static %}

{% block extra_body %}
{% endblock %}

{% block content %}
<!---메세지-->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
{% endif %}

<!--오브젝트-->
<p>{{ object.title }}</p>
<p>{{ object.content |safe }}</p>
{% if object.total_user < object.user_max_count %}
    <p>{{ object.total_user }}</p>
    <p>{{ object.user_max_count }}
        {% elif object.date_overlap or object.count_overlap %}
    <p>참여 마감</p>
{% endif %}

<!--버튼-->
<!--신청버튼-->
{% if object.author != request.user %}

    <!---신청자 유무 체크 ---->
    {% if apply %}
        <a href="{% url 'apply_cancel' pk=object.pk %}" class="btn btn-outline-dark">신청 취소</a>
    {% else %}

        <!---인원 및 기간 체크 --->
        {% if object.date_overlap or object.count_overlap %}
            <a href="" class="btn btn-outline-dark disabled">신청</a>
        {% else %}
            <a href="{% url 'apply' pk=object.pk %}" class="btn btn-outline-dark">신청</a>
        {% endif %}


    {% endif %}


{% endif %}

{% if object.author == request.user %}
    <a href="{% url 'apply_list' pk=object.pk %}" class="btn btn-outline-dark">신청자 목록</a>
    <a href="{% url 'edit' pk=object.pk %}">수정</a>
{#    <a href="{% url 'delete' pk=object.pk %}" class="ajax-post-confirm"#}
{#       data-target-id="{{ object.pk }}"#}
{#       data-message="정말 삭제하시겠습니까?">삭제</a>#}
    <a href="{% url 'delete' pk=object.pk %}" onclick="return confirm('삭제하겠습니까?');">삭제</a>

{% endif %}
<a href="{% url 'list' %}" class="btn btn-outline-dark">목록</a>


{% endblock %}
