{% extends 'base.html' %}

{% load static %}


{% block content %}

    <!---메세지-->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="wrapper">

        <ul class="content">
            {% for ob in object_list %}
                <li class="content-li">
                    <div class="content-sub">
                        <img src="{{ ob.author.thumbnail.url }}" alt="" class="content-img"/>

                        <p class="content-author">
                            {% if ob.author.nickname %}
                                <small>{{ ob.author.nickname }}</small>

                            {% else %}
                                <small>{{ ob.author.name }}</small>
                            {% endif %}
                        </p>
                    </div>
                    <div class="content-context">
                        <h4>
                            <a href="{{ ob.get_absolute_url }}" class="content-title text-dark">{{ ob.title }} </a>
                        </h4>

                        {% if ob.total_user < ob.user_max_count and not ob.date_overlap %}
                            <small class="text-muted">{{ ob.total_user }} | {{ ob.user_max_count }} 참여중</small>
                            <small class="content-data text-muted">{{ ob.deadline }} 까지</small>
                        {% elif ob.date_overlap or ob.count_overlap %}
                            <small class="text-muted">참여 마감!</small>
                        {% endif %}
                    </div>

                </li>
            {% endfor %}
        </ul>

    </div>

    {#    #}
    {#    {% for foo in object_list %}#}
    {#        <a href="{{ foo.get_absolute_url }}"><p>{{ foo.title }}</p></a>#}
    {#        <p>{{ foo.content |safe |truncatechars:3 }}</p>#}
    {#        {% if foo.total_user < foo.user_max_count and not foo.date_overlap %}#}
    {#            <p>{{ foo.total_user }} | {{ foo.user_max_count }} 참여 </p>#}
    {# 현재시간 {% now "SHORT_DATE_FORMAT" %}#}
    {#            <p>모집기간 : {{ foo.deadline }} 까지</p>#}
    {#            남은기간 {{ foo.deadline|timeuntil }}#}
    {#        {% elif foo.date_overlap or foo.count_overlap %}#}
    {#            <p>참여 마감!</p>#}
    {#        {% endif %}#}
    {##}
    {#        <!---닉네임 empty 체크 -->#}
    {#        {% if foo.author.nickname %}#}
    {#            <p>#}
    {#                {{ foo.author.nickname }}#}
    {#            </p>#}
    {##}
    {#        {% else %}#}
    {#            <p>#}
    {#                {{ foo.author.name }}#}
    {#            </p>#}
    {#        {% endif %}#}
    {##}
    {#    {% endfor %}#}



    <hr>

    {% if request.user.is_authenticated %}
        <a href="{% url 'new' %}">글생성</a>
        <a href="{% url 'logout' %}">로그아웃</a>
    {% else %}
        <a href="{% url 'signup' %}">회원가입</a>
        <a href="{% url 'login' %}">로그인</a>
    {% endif %}
{% endblock %}